.card-top {
  font-size: 1.8rem;
  font-weight: bold;
  width: 100%;
  height: 20%;
  text-align: center;
}

.card-middle {
  font-size: 1.2rem;
  padding: 2%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
}

.card-bottom {
  text-align: center;
  height: auto;
  justify-content: space-between; /* Distribuye los hijos */
}

/* Estilo de imágenes en la tarjeta */
.card-images {
  position: relative;
  width: 100%;
  display: flex; /* Flexbox para alinear horizontalmente */
  list-style-type: none; /* Quitar los puntos de la lista */
  justify-content: center;
  align-items: center;
}

.card-images ul {
  gap: 5vw;
  display: flex;
}

.card-images li {
  list-style-type: none;
}

.card-images img {
  transition: filter 0.3s ease;
  width: 6vw;
  object-fit: cover; /* Asegurar que las imágenes se ajusten sin distorsión */
}

.card-images img:hover {
  filter: drop-shadow(0 0 0.9rem rgba(206, 206, 206, 0.2));
}

/* Elementos globales */
h2,
p {
  margin: 1px;
}

/* Contenedor general de la tarjeta */
.card-container {
  width: 80vw;
  height: 80vh;
  perspective: 1000px; /* Necesario para el efecto 3D */
  cursor: pointer;
  margin: 50px auto;
}

/* Tarjeta */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* Permite que ambas caras se comporten como en 3D */
  transition: transform 0.6s; /* Animación de giro */
  border: 2px solid #00bcd4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Caras de la tarjeta */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Oculta la cara trasera cuando no está activa */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-front {
  flex-direction: column;
  h3 {
    padding: 0;
    margin: 0;
  }
}

.card-back {
  color: white; /* Texto en la cara trasera */
  transform: rotateY(180deg); /* Invierte la cara trasera */
  padding: 4%;
}

/* Efecto al voltear la tarjeta */
.card.flipped {
  transform: rotateY(180deg);
}

.card-experience {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  h3 {
    padding: 0;
    margin: 0;
  }
}

.card-seccion01 {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 75%;
  .card-experience {
    .ex {
      padding: 2%;
    }
    h2 {
      font-size: 3rem;
      margin: 0;
      padding: 0;
    }
  }
}

.card-seccion02 {
  display: grid;
  height: 100%;
  width: 25%;
  .card-seccionv2 {
    display: grid;
    justify-items: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding-top: 5%;
  }
  h2 {
    font-family: 1.5rem;
  }
  p {
    font-size: 1.3rem;
  }
  a {
    display: grid;
    justify-items: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-decoration: none; /* Elimina subrayado */
    color: inherit; /* Usa el color del texto padre */
    img {
      transition: filter 0.3s ease;
      width: 60%;
      object-fit: contain; /* Otras opciones: contain, scale-down */
    }
    img:hover {
      filter: drop-shadow(0 0 0.9rem rgba(206, 206, 206, 0.2));
    }
  }
}

@media (min-height: 800px) {
  //igual o mayor a 800px
  .card-container {
    height: 50vh;
    width: 90vw;
  }
}

@media (max-width: 820px) {
  .card-container {
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 90vw;
    .card-back {
      padding: 0;
      display: block;
      .card-experience {
        margin: 5px 15px;
        h2 {
          font-size: 1.2rem;
        }
        h3 {
          font-size: 1rem;
        }
        p {
          font-size: 0.86rem;
        }
      }
      .card-seccion01 {
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
      }
      .card-seccion02 {
        display: flex;
        height: 50%;
        width: 100%;
        .card-seccionv2 {
          padding: 0;
          width: 50%;
          height: 100%;
          a {
            height: 100%;
            img {
              transition: filter 0.3s ease;
              height: 70%;
              object-fit: contain; /* Otras opciones: contain, scale-down */
            }
            img:hover {
              filter: drop-shadow(0 0 0.9rem rgba(206, 206, 206, 0.2));
            }
          }
        }
      }
    }
  }
}
